:root {
  --bg: #e8e8e8;
  --bg2: #fff;
  --text: #1c2b2d;
  --prim: #495464;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  background-attachment: fixed;
  background-image: url(img/body-bg.jpg);
  min-height: 5000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  position: fixed;
  max-height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: linear-gradient(to top, #e8e8e800, #e8e8e8 80%);
}

.navbar img {
  width: 85px;
}

.navbar .navbar-bar a {
  color: var(--text);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-bar a:hover {
  color: var(--prim);
}

.navbar .navbar-bar a::after {
  content: "";
  display: block;
  border-bottom: 0.1rem solid var(--prim);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-bar a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-menu a {
  color: var(--text);
  margin: 0 0.5rem;
}

.navbar .navbar-menu a:hover {
  color: var(--prim);
}

#hamburger-menu {
  display: none;
}

/* Home */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: var(--text);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--prim);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 200;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1, 0.5);
  color: var(--text);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--prim);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 1, 0.5);
}

.hero .content .cta:hover {
  background-color: var(--text);
  transition: all 0.3s linear;
}

/* About */
.about,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: var(--text);
}

.about h2 span,
.contact h2 span {
  color: var(--prim);
}

.about .row {
  display: flex;
}

.about .row .aboutimg {
  flex: 1 1 45rem;
}

.about .row .aboutimg img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  color: var(--text);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content h3 span {
  color: var(--primary);
}

.about .row .content p {
  color: var(--text);
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.6;
}

/* Contact */
.contact h2 {
  margin-bottom: 1rem;
}

.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
  color: var(--text);
}

.contact .row {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  justify-content: center;
}

.contactcard {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  transition: transform 0.2s ease;
}

.contactcard:hover {
  transform: translateY(-5px);
}

.contactcard #contact {
  color: var(--text);
  font-size: 3rem;
  padding-bottom: 1.2rem;
  color: var(--prim);
}

.contactcard h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #333;
}

.contactcard p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 868px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-bar {
    position: absolute;
    top: 100%;
    right: -100%;
    border-radius: 20px;
    width: 20rem;
    height: 32vh;
    transition: 0.3s;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.277);
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .navbar .navbar-bar.active {
    right: 0;
  }

  .navbar .navbar-bar a {
    color: var(--text);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-bar a::after {
    transform-origin: 0, 0;
    margin-right: 10px;
  }

  .navbar .navbar-bar a:hover::after {
    transform: scaleX(0.7);
  }
}
/* Hp */
@media (max-width: 665px) {
  html {
    font-size: 55%;
  }

  .navbar .navbar-bar {
    height: 28vh;
  }
}
